<%= f.fields_for :routines do |r| %>
    <h5> Select exercise: 
    <%= r.hidden_field :id %>

    <%= r.collection_select :exercise_id, Exercise.all, :id, :name %>
</h5><br>
    <%= r.label :sets %>
    <%= r.number_field :sets %>

    <%= r.label :reps %>
    <%= r.number_field :reps %>

    <br><br>

<% end %>

<h4> Don't see an exercise you want? Create one <%= link_to "here", new_exercise_path %> </h4>
