<h1> Create your workout below: </h1>

<%= form_for @workout do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>


    <%= f.fields_for :routines do |r| %>
        <h2> Select exercise </h2>
        <%= r.collection_select :exercise_id, Exercise.all, :id, :name %>
        <h4> Don't see an exercise you want? Create one <%= link_to "here", new_exercise_path %> </h4>

        <%= r.label :reps %>
        <%= r.number_field :reps %>
        
        <%= r.label :sets %>
        <%= r.number_field :sets %>
    <% end %>

    <%= f.submit "Create your workout" %>

<% end %>