<h1> <%= @workout.name %> Workout </h1>

<ul> 
    <% @workout.routines.each do |w| %>
    <li>
    <%= w.exercise.name %> <%= w.sets %> X <%= w.reps %> <br>
    </li>
    <% end %>
    <br>

    <% if authorized_workout_user %>
    <%= link_to "Add exercise routine", new_workout_routine_path(@workout) %><br><br>
    <%= link_to "Delete", workout_path(@workout), method: 'delete' %>
    <% end %>


</ul>