<h1> <%= @workout.name %> Workout </h1>


    <% @workout.routines.each do |w| %>
    <h4>
    <u><%= link_to "#{w.exercise.name}", exercise_path("#{w.exercise_id}") %></u>
    <br>
    <%= w.sets %> X <%= w.reps %> <br>
    </h4>
    <br>
    <% end %>
    <br>

    <% if authorized_workout_user %>
    <%= link_to "Edit Workout", edit_workout_path %>
    <%= link_to "Add Another Exercise", new_workout_routine_path(@workout) %><br><br>
    <%= link_to "Delete", workout_path(@workout), method: 'delete' %>
    <% end %>
