<h1> Exercises </h1>

<br><br>


<%= form_tag("/exercises", method: "get") do %>
    <%= label_tag(:target_area, "Search by targeted muscle:") %>
    <%= text_field_tag(:target_area) %>
    <%= submit_tag("Search Exercises") %>
<% end %>


<br><br>

<% @exercises.each do |exercise| %>
    <h4>
    <%= link_to "#{exercise.name}", exercise_path(exercise) %><br>
    </h4>
<% end %>

  