<h1> Create a new exercise </h1>

<%= render '/layouts/errors', object: @exercise %>

    <%= form_for @exercise do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :target_area %>
    <%= f.collection_select :target_area, Exercise.unique_targets, :target_area, :target_area %>
 
    <%= f.label :category %>
    <%= f.collection_select :category, Exercise.unique_categories, :category, :category %>

    <%= f.submit "Create your exercise!" %>

<% end %>