<h1> Create a new exercise </h1>
<br>

<%= render '/layouts/errors', object: @exercise %>


<div class="form-group">

    <%= form_for @exercise do |f| %>

<h4>
    Name:
    <%= f.text_field :name %>
    
    <br><br>
    Target Area:
    <%= f.collection_select :target_area, Exercise.unique_targets, :target_area, :target_area %>
 
    <br><br>
    Category:
    <%= f.collection_select :category, Exercise.unique_categories, :category, :category %>
</h4>
    <br><br>
    <%= f.submit "Create your exercise!" %>

<% end %>
</div>


  




