<h1> Exercise Information </h1>

<br><br>

    <b><u><h3> Exercise: </h3></b></u>
    <h5><%= @exercise.name %></h5>

    <br><br>

     <b><u><h3> Target Muscle(s): </h3></b></u> 
    <h5><%= @exercise.target_area %></h5>
    

    <br><br>

     <b><u><h3> Category: </h3></b></u> 
    <h5><%= @exercise.category %></h5>
    


<br><br>

<h4>This exercise is currently used in <u><%= @exercise.workouts.size %></u> workout(s)</h4>


<% @exercise.workouts.each do |e| %>

   <h5><i> <%= link_to "#{e.name}", workout_path(e) %> <br></h5></i>

<% end %>
