<h1> Exercise Info </h1>
<ul>
    <li> <h3> Exercise: </h3> 
    <%= @exercise.name %> 
    </li> 

    <li> <h3> Target Muscle(s): </h3> 
    <%= @exercise.target_area %> 
    </li> 

    <li> <h3> Category: </h3> 
    <%= @exercise.category %> 
    </li> 
</ul>

<h4>This exercise is used in <%= @exercise.workouts.count %> workouts</h4>

<br>
<% @exercise.workouts.each do |e| %>
<li>
    <%= link_to "#{e.name}", workout_path(e) %>
</li>
<% end %>
